name: CI

on: [push]

jobs:
  build:
    env:
      NAME: "aah"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run!!
      shell: bash
      run: |
        echo $NAME
        pwd
        ls
    - name: check env
      shell: bash
      run: |
        env
    - name: TEST NAME
      shell: bash
      run: |
        echo $NAME
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Run dpkg-deb
      shell: bash
      run: |
        dpkg-deb --help
  test:
    needs: [build]
    
    runs-on: ubuntu-latest

    steps:
    - name: Run!!
      shell: bash
      run: |
        pwd
        ls
        curl
